### Lock files
*.lock
*.bak
*~
[#]*[#]
### OSX
*.DS_Store
### Windows
Thumbs.db
ehthumbs.db
Desktop.ini
*.lnk

### Project
logs/*.log
vendor/
composer.phar
public/assets/vendor/
node_modules/
config/config.file
build/
