### Lock files
*.lock
*.bak
*~
[#]*[#]
### OSX
*.DS_Store
### Windows
Thumbs.db
ehthumbs.db
Desktop.ini
*.lnk

### Project
logs/*.log
logs/*.zip
vendor/
composer.phar
public/assets/vendor/
config/config.file
config/migrations/.lastmigrationrun
build/
node_modules/
nbproject/
.vagrant/
