### Lock files
*.lock
*.bak
*~
[#]*[#]
### OSX
*.DS_Store
### Windows
Thumbs.db
ehthumbs.db
Desktop.ini
*.lnk
### IDEs
.vscode/
nbproject/
### Env
.vagrant/

### Project
logs/*.log
logs/*.zip
public/assets/vendor/
config/config.file
config/migrations/.lastmigrationrun
build/
cache/
### Composer
composer.phar
vendor/
### Using project dir as COMPOSER_HOME
keys.*.pub
.htaccess
