{% extends "layouts/master.twig" %}

{% block title %}Todo list{% endblock %}


{% block content %}
    <div class="row row-centered">
        <div class="col-md-8 col-xs-12 col-centered">
            <h1>List of todos</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>Name</td>
                        <td>Content</td>
                    </tr>
                </thead>
                <tbody>
                    {% for todo in todos %}
                        <tr>
                            <td>{{ todo.id }}</td>
                            <td>{{ todo.name }}</td>
                            <td>{{ todo.content }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
{% endblock %}
